body{
	background-color: #fff;
	width: 100%;
	margin: 0 auto;
}
h1, h2, p{
	width: 100%;
	margin: 0 auto;
}
header{
	width: 80%;
	margin: 0 auto;
}
.logo{
	margin: 0;
	padding: 0;
	height: 70px;
}
.nav-menu{
	width: 90%;
	height: 42px;
	margin: 0 auto 20px;
}
.nav-menu #menu li{
	box-sizing:border-box;
  -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
}
.clear{
	clear: both;
}
li#home,li#info-career,li#intern {
	float:left;
	display:inline;
	list-style-type:none;
	background-repeat:no-repeat;
	width:32%;
	padding:1% 0;
	text-align:center;
}
#menu > li{
	font-size: 20px;
}
li#home {
	height:35px; /*背景画像に合わせたサイズ指定*/
	margin-right: 10px;
}
li#info-career {
	height:35px; /*背景画像に合わせたサイズ指定*/
	margin-right: 10px;
}
li#intern {
	height:35px; /*背景画像に合わせたサイズ指定*/
	box-sizing:border-box;
}
ul#menu {
	margin: 0;
	padding: 0;
}
ul#menu a{
	display:block;				/*リンクをブロック表示にする*/
	height:42px;
	padding-top: 0;
	text-align:center;
	text-decoration:none; 			/*リンクの下線を無くす*/
	font-family:Arial, Helvetica, sans-serif;	/*フォントの種類*/
	color: #337ab7; //文字色指定
}
ul#menu a:hover{
	color: #23527c;
}
ul#menu > li .unselected_tab {
	border-bottom: 6px solid #8bbcdf;
}
ul#menu > li .unselected_tab:hover{
	border-bottom: 6px solid #23527c;
}
.selected_tab {
	border-bottom: 6px solid #0082df;
}
/* ここまでheader */
.contents{
	width: 80%;
	margin: 0 auto;
}
/*footer部分*/
/*footerのスタイル*/
footer{
	clear: both;
	width: 100%;
	border-top: 4px solid #2390de;
	background: #e5edf3;
	margin-top: 10px;
}
.linkList{
	width: 70%;
	margin: 0 auto;
}
.linkList h3{
	margin: 0;
	padding: 10px 0;
	font-size: 20px;
	font-weight: bolder;
}
.foot_topic{
	font-size: 15px;
	font-weight: bold;
}
.foot_topics{
	margin-top: 0;
	font-size: 15px;
	font-weight: bold;
}
.linkList ul.internal{
  list-style-type: none;
	margin: 0;
}
.linkList ul.internal li{
  float: left;
	margin-right: 20px;
}
.linkList ul.foot_list{
	padding-left: 20px;
  list-style-image: url('../img/icon/ic_arrow.svg');
}
.linkList ul.foot_list li{
  clear: both;
	margin: 0;
	font-size: 13px;
}
.linkList ul .foot_list li a{
	text-decoration: none;
	color: #333;
}
.foot_list li ul{
	padding-left: 10px;
  list-style-image: url('../img/icon/ic_arrow.svg');
}
.foot_link{
	float: left;
	margin-bottom: 20px;
}
.foot_topic_link{
	margin-bottom: none;
}
footer .copyright{
	clear: both;
	width: 100%;
	text-align: center;
	background-color: #2390de;
	color: #fff;
}
