/*recruitment.php*/
.searchform form{
  width: 60%;
  margin: 0 auto;
}
.searchform ul{
  overflow: hidden;
  list-style-type: none;
}
.local li{
  margin-top: 20px;
  margin-right: 10px;
  float: left;
}
.indust_1{
  margin: 0;
  padding: 0;
}
ul.indust_2{
  width: 50%;
  margin: 0;
  float: left;
}
ul.indust_3{
  width: 50%;
  margin: 0;
}
