body{
	padding: 0;
}
/* コンテンツ部分 */
.contents{
	width: 100%;
}
.row{
	width: 80%;
	margin: 0 auto;
}
th.t_top{
	border-top:  #be1309 4px solid;
}
th.td_top{
	border-top: #b3b3b3 4px solid;
}
th {
	border-bottom: #e3e3e3 1px dotted;
	text-align: left;
	padding: 10px;
	font-weight: normal;
}
td {
	border-bottom: #e3e3e3 1px solid;
	text-align: center;
	padding: 10px;
}

/* リスト */
ol.path {
margin: 0;
padding: 7px 5px;
background-color: #f9f9f9/*or white*/;
font-size: 13px;
}
/* リスト項目 */
ol.path li {
padding-left: 5px; /* 左パディング */
display: inline; /* 項目を横並び */
}
/* リスト項目（最初の項目） */
ol.path li.first {
padding-left: 25px; /* 左パディング */
background: url(../image/topic-path-home-gray.png) no-repeat left; /* ホーム記号（※） */
}
/* リンク色 */
ol.path li a {
color: #4682b4;
}
/* リンク色（マウスオーバー） */
ol.path li a:hover {
color: #79a7cc;
}

table.news {
	border-collapse: collapse;
	text-align: left;
	margin: 0 auto;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	border-left: 3px solid #369;
}
table.news th {
	text-align: center;
	width: 147px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #337ab7;;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

}
table.news td {
	width: 349px;
	padding: 10px;
	vertical-align: top;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
